@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond&family=Roboto:wght@300&display=swap&display=swap");

.about {
  height: 100vh;
  width: 100%;
}
.about_title {
  color: aliceblue;
  text-align: center;
  padding-top: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
.about_img {
  width: 100%;
  height: 40rem;
}
.about_p {
  margin-top: 1rem;
  color: rgba(150, 150, 150);
}
.about_h2 {
  color: aliceblue;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  padding-top: 0 !important;
  text-transform: capitalize;
}
.ap {
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(150, 150, 150);
  letter-spacing: 3px;
}

@media (max-width: 1200px) {
  .about_img {
    height: 30rem;
  }
}

@media (max-width: 400px) {
  .about_img {
    height: 15rem;
  }
}
