.contact {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.contact_subtitle {
  padding-top: 5rem;
  text-align: center;
  color: rgb(156, 156, 156);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}
.contact_title {
  text-align: center;
  color: aliceblue;
  margin-top: -10px;
  font-weight: 700;
  letter-spacing: 2px;
}
.contact_location {
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
}
.contact_row_p {
  color: aliceblue;
  font-weight: 900;
  letter-spacing: 1px;
}
.contact_row_p span {
  color: rgb(156, 156, 156);
}
.contact_form_p {
  color: rgb(156, 156, 156);
  margin-top: 1.5rem;
}
.contact_form {
  width: 100% !important;
}
.contact_form_div {
  display: flex;
  justify-content: space-between;
}
.contact_form_div .contact_field {
  width: 48%;
}

