.feedback {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.feedback_review {
  padding-top: 5rem;
  text-align: center;
  color: rgb(156, 156, 156);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}
.feedback_title {
  text-align: center;
  color: aliceblue;
  margin-top: -10px;
  font-weight: 700;
  letter-spacing: 2px;
}
.feedback_clientrev {
  display: inline-block;
  margin-top: 3rem;
  color: rgb(156, 156, 156);
  border-bottom: 2px dashed;
  padding-bottom: 0.2rem;
}

.feedback_leave {
  color: aliceblue;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 5rem;
}
.starbordericon {
  font-size: 3rem !important;
  color: rgb(156, 156, 156);
}

.feedback_form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.feedback_field {
  background-color: rgb(32, 32, 32);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  margin-top: 1rem;
  border-radius: 5px;
  color: rgb(156, 156, 156);
}
.feedback_submit {
  background-color: rgb(32, 32, 32);
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  margin-top: 2rem;
  border-radius: 2rem;
  width: 10rem;
  color: rgb(156, 156, 156);
  transition: all 0.5s;
}
.feedback_submit:hover {
  background-color: black;
  color: aliceblue;
}
.feedback_card {
  background-color: transparent;
  border: 2px solid rgb(156, 156, 156);
  padding: 1rem;
  border-radius: 10px;
}
.feedback_cardtitle {
  color: aliceblue;
}
.feedback_cardtext {
  color: rgb(156, 156, 156);
}

@media (max-width: 500px) {
  .feedback_form {
    width: 90%;
    margin: auto;
  }
  .feedback_leave {
    text-align: center;
  }
}