@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond&family=Roboto:wght@300&display=swap&display=swap");

.activate {
  color: aliceblue !important;
  font-weight: 900;
}
.header {
  height: 100vh;
  background-color: black;
  text-align: center;
  transition: transform 1s;
  position: relative;
  overflow-y: scroll;
}
.header::-webkit-scrollbar {
  display: none;
}
.header_logo {
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}
.header_link {
  text-decoration: none;
  user-select: none;
}
.header_navlink {
  text-decoration: none;
  color: rgb(161, 161, 161);
  cursor: default;
}
.header_navlink:hover {
  color: rgb(161, 161, 161);
}
.header_title {
  color: aliceblue;
  margin-bottom: 5rem;
  font-family: "Abril Fatface", cursive;
  font-family: "Cormorant Garamond", serif;
}
.header_navlink_div {
  text-align: left !important;
  margin: 1rem 2rem 0 2rem;
  border-bottom: 1px solid rgb(41, 40, 40);
  padding-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
}
.header_navlink_div:hover {
  color: aliceblue;
}
.header_icons {
  margin-top: 5rem;
  color: aliceblue;
  margin-left: 1rem;
}
.header_icons .icon {
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: grey;
  color: black;
  padding: 0.5rem;
  font-size: 2.2rem;
  transition: 0.5s;
}
.header_icons .icon:hover {
  background-color: aliceblue;
}
.header_p {
  font-size: 0.8rem;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1rem;
}
.header_p .copy {
  font-size: 0.8rem;
}

.bicon {
  color: rgb(150, 150, 150) !important;
  background-color: black !important;
  display: none !important;
}
.closeicon {
  position: absolute !important;
  top: 3%;
  right: 2%;
  z-index: 1 !important;
  border: none;
}
.menuicon {
  border: 1px solid rgb(150, 150, 150) !important;
  position: fixed !important;
  top: 3%;
  left: 5%;
}

@media (max-width: 900px) {
  .header_logo {
    width: 80px;
    height: 80px;
  }
  .header_title {
    font-size: 1.2rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .header {
    position: absolute;
    transform: var(--trans);
    width: 16rem;
  }

  .bicon {
    display: inline !important;
  }
}
@media (max-width: 400px) {
  .header {
    width: 12rem;
  }
}
