.home {
  height: 100vh;
  width: 100%;
}
.home .carousel {
  width: 100%;
  height: 100%;
}
.home .carousel img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  image-rendering: optimizeQuality;
  mask-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
}
.hometag_parent {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
.hometag {
  display: inline-block;
  color: aliceblue;
  font-size: 2rem;
  padding: 1rem 2rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.hometag_icon {
  font-size: 2.5rem !important;
  position: absolute;
}
.hometag_icon:nth-child(1) {
  top: -25%;
  left: -3%;
  transform: rotate(-135deg);
}
.hometag_icon:nth-child(2) {
  top: -25%;
  right: -3%;
  transform: rotate(-45deg);
}
.hometag_icon:nth-child(3) {
  bottom: -25%;
  right: -3%;
  transform: rotate(45deg);
}
.hometag_icon:nth-child(4) {
  bottom: -25%;
  left: -3%;
  transform: rotate(135deg);
}

.home .home_p {
  color: rgb(150, 150, 150);
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
  width: 60%;
  margin: 7rem auto;
}

.homegallery_img:hover {
  mask-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
}

.homegallery_btn {
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 50% !important;
  border: 2px solid rgb(150, 150, 150) !important;
  margin: 5rem auto !important;
  transition: all 0.5s;
}
.homegallery_plus {
  font-size: 2rem !important;
  color: aliceblue !important;
}
.homegallery_btn:hover {
  background-color: #000 !important;
  border-color: #000 !important;
}

@media (max-width: 900px) {
  .hometag {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .hometag {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .hometag {
    font-size: 0.8rem;
  }
  .hometag_icon:nth-child(1) {
    top: -40%;
    left: -6%;
    transform: rotate(-135deg);
  }
  .hometag_icon:nth-child(2) {
    top: -40%;
    right: -6%;
    transform: rotate(-45deg);
  }
  .hometag_icon:nth-child(3) {
    bottom: -40%;
    right: -6%;
    transform: rotate(45deg);
  }
  .hometag_icon:nth-child(4) {
    bottom: -40%;
    left: -6%;
    transform: rotate(135deg);
  }
  .home .home_p {
    text-align: justify;
    width: 90%;
    margin: 3rem auto;
  }
}

@media (max-width: 400px) {
  .row {
    margin: auto;
  }
}
